.containerPost {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid rgb(220, 223, 230);
}

.containerPostPhoto {
  flex: 0 0 auto;
}

.Img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.containerPostContent {
  flex: 1;
  margin-left: 20px;
  max-width: 550px;
  margin-right: auto;
}

.time {
  margin-bottom: 8px;
  font-size: 14px;
  color: #585656;
}


.containerPostMore {
  flex: 0 0 auto;
  cursor: pointer;
  color: #000000;

}

.function {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 150px;
}

.one,
.two,
.fre,
.foo {
  display: flex;
  align-items: center;
}

.one,
.two,
.fre,
.foo>img {
  width: 15px;
  height: 15px;
}

.counter {
  margin-left: 10px;
}

.nowork {
  color: rgb(224, 221, 221);
}